# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Active Configuration files containing API keys
.env
.env.local
.env.*.local

# IDE configurations
.vscode/
.idea/
